* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: sans-serif;
    background-color: #f5efef; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.credit-card {
    width: 100%;
    max-width: 530px; 
    height: 330px;
    border-radius: 1.2rem;
    background: linear-gradient(to bottom right, #003A70, #005E9D);
    color: white;
    padding: 1.5rem; 
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', monospace;
}

/* Top section */
.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ubl-logo {
    height: 3rem;
}

.contactless {
    height: 4rem; 
}

/* Middle section */
.chip {
    height: 5rem; 
    width: 5rem;
}

.card-number {
    display: flex;
    align-items: center;
    font-size: 1.8rem; 
    letter-spacing: 0.1rem;
    gap: 1rem;
    font-weight: 600;
}

.arrow {
    font-size: 1.875rem;
    font-weight: 600;
    margin-top: -0.25rem;
}

.cvv {
    margin-left: 2.6rem; 
    font-size: 1rem; 
}

/* Bottom section */
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.details {
    font-size: 1rem;
    margin-left: 2.8rem;
    margin-top: 0.8rem;
}

.details .label {
    color: #d1d5db;
    font-size: 0.7rem; 
    font-family: sans-serif;
}

.details .value {
    letter-spacing: 0.05em;
}

.details .member-since,
.details .valid-from,
.details .valid-thru {
    display: inline-block;
    margin-right: 1.5rem;
}

.name {
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 300; 
    letter-spacing: 0.05em;
    margin-top: 0.7rem;
}

.mastercard {
    height: 3.5rem;
}